<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhui.mapper.UserMapper">


    <select id="selectByPK" resultType="com.yunhui.bean.User">

        select user_id userId,user_name userName,user_age userAge

        from user

        where user_id =#{userId}


    </select>

</mapper>