<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>章节详情</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link crossorigin="anonymous" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">

        $(function () {
            var chapterId = getQueryParam("chapterId");

            getChapterDetail(chapterId);

            $(".lastChapter").attr("href", "/details?chapterId=" + (parseInt(chapterId) - 1));
            $(".nextChapter").attr("href", "/details?chapterId=" + (parseInt(chapterId) + 1));
        });


        //获取对应参数值
        function getQueryParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            var strValue = "";
            if (r != null) {
                strValue = decodeURI(r[2]);
            }
            return strValue;
        };

        function getChapterDetail(chapterId) {
            $.ajax({
                url: '/getChapterDetail',
                type: 'GET',
                data: {chapterId: chapterId},
                success: function (res) {
                    $("#title").text(res.chapterName);
                    $("#content").html(res.chapterDeatil);
                }
            })
        }

    </script>
</head>
<body>


<div class="container">

    <h4 align="center" id="title"></h4>


    <nav align="center" aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a aria-label="Previous" class="lastChapter">
                    <span aria-hidden="true">上一章</span>
                </a>
            </li>
            <li><a href="/chapters">返回目录</a></li>
            <li>
                <a aria-label="Next" class="nextChapter">
                    <span aria-hidden="true">下一章</span>
                </a>
            </li>
        </ul>
    </nav>


    <div id="content">

    </div>


    <nav align="center" aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a aria-label="Previous" class="lastChapter">
                    <span aria-hidden="true">上一章</span>
                </a>
            </li>
            <li><a href="/chapters">返回目录</a></li>
            <li>
                <a aria-label="Next" class="nextChapter">
                    <span aria-hidden="true">下一章</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


</body>
</html>